<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="multitouchSection" type="Danilins.Multitouch.Logic.Configuration.MultitouchSection, Danilins.Multitouch.Logic"/>
	</configSections>
	<multitouchSection inputProvider="{00C5E82B-2251-4985-A34D-DD7466B627D6}" />
</configuration>