<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Multitouch.Service.Logic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Multitouch.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Multitouch.Service.Logic.Properties.Settings>
            <setting name="CurrentProvider" serializeAs="String">
                <value>MultipleMice.InputProvider</value>
            </setting>
        </Multitouch.Service.Logic.Properties.Settings>
        <Multitouch.Service.Properties.Settings>
            <setting name="CurrentProvider" serializeAs="String">
                <value>MultipleMice.InputProvider</value>
            </setting>
        </Multitouch.Service.Properties.Settings>
    </userSettings>
</configuration>